<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- LOGS -->
    <add key="logHub.Enabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="logHub.Url" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="logHub.UrlAPI" value="https://el20mx-plataformav2-loghub-test.azurewebsites.net/api/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="logHub.ApiKey" value="19956ab9-07e7-45cf-8317-659028f5514a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- NOTIFICATIONS -->
    <add key="SendGridUser" value="azure_2d9a14070fe57747c10b949ec1d70236@azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SendGridPassword" value="^^qdbH3-WB88j3k3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationHubUrl" value="https://el20mx-plataformav2-nothub-test.azurewebsites.net/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotificationHubApiKey" value="fef2388b-f75b-42b7-8f16-a727f9517b84" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="_UrlServerAccess" value="https://el20mx-plataformav2-test.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- STORAGE: Azure -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=strel20mxpv2test;AccountKey=3rwLXK31IAtox3sBUs03qu4wEe4aGDQi2w+/YxDo7mlfCFnxwnrEANKoXDiJNXlbq4lXSwaFMxEJS5QDeRlDHA==;EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageSASToken" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageMainContainer" value="strel20mxpv2test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageInvoicesIssued" value="invoices-issued-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="StorageInvoicesReceived" value="invoices-received-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--PAYBOOK-->
    <add key="Paybook.Url" value="https://sync.paybook.com/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Paybook.ApiKey" value="f613c9165c7f889c4959f058e3c91126" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Paybook.Webhook" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--SAT WS-->
    <add key="SATws.Url" value="https://api.sandbox.sat.ws" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SATws.ApiKey" value="2402dd273c7f5402f02b231d7883d540" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="satws.Webhook" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Proveedores SAT=SATWS||SYNCFY Bancos=SYNCFY||FINERIO-->
    <add key="SATProvider" value="SATWS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BankProvider" value="SYNCFY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Invoices.ItemsPerPage" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString"
      connectionString="server=tcp:dbsrv-el20mx-plataformav2-test.database.windows.net;database=db-el20mx-plataformav2-test;user id=el20mx-admin;password=^^qdbH3-WB88j3k3;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
