@{
    ViewBag.Title = "Error";
    Layout = null;
}

<h3 class="text-danger">@ViewBag.ErrorMessage</h3>

@if (!string.IsNullOrWhiteSpace(ViewBag.SignIn))
{
    <h4>@Html.ActionLink("Reintentar", "SignOut", "Account", null, null).</h4>
}

