@using MVC_Project.WebBackend.AuthManagement
@using MVC_Project.WebBackend.AuthManagement.Models
@{
    AuthUser user = (AuthUser)Authenticator.AuthenticatedUser;
}
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-color" href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                @if (user != null && user.Account != null)
                {

                    @*<img src="~/Images/logos/logo_icon.png" width="100" />*@
                    @*<i class="fa fa-user"></i>*@
                    <span class="m-r-sm text-muted welcome-message"> 
                        <i class="fa fa-user-circle"></i>
                        <strong>@user.Account.RFC </strong>
                    </span>

                }
            </li>
            <li>
                <a href="@Url.Action("Logout", "Auth")">
                    <span class="m-r-sm text-muted welcome-message"> 
                        <i class="fa fa-sign-out"></i>
                        <strong>@ViewLabels.AUTH_LOGOUT</strong>
                    </span>
                </a>
            </li>
        </ul>
    </nav>

</div>