<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".
    -->
   <appSettings>
     <add key="AdminKey" value="ADMIN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="AppName" value="El20mx - Plataforma V2 (Release)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!--Proveedores SAT=SATWS||SYNCFY Bancos=SYNCFY||FINERIO-->
     <add key="SATProvider" value="SATWS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="BankProvider" value="SYNCFY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- ENCRIPTION -->
     <add key="ENCRYPTION_SALT" value="87c87528-e764-41fc-9ba7-9701dcd9bd75" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- STORAGE: Azure -->
     <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=strel20mxpv2test;AccountKey=3rwLXK31IAtox3sBUs03qu4wEe4aGDQi2w+/YxDo7mlfCFnxwnrEANKoXDiJNXlbq4lXSwaFMxEJS5QDeRlDHA==;EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageSASToken" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageMainContainer" value="strel20mxpv2test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageInvoicesIssued" value="invoices-issued-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageInvoicesReceived" value="invoices-received-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageQuotation" value="quotations-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageEFirma" value="e-firma-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="StorageImages" value="images-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!--PAYBOOK-->
     <!-- Son las credenciales de la cuenta de Simon Test, para sandbox y producción -->
     <add key="Paybook.Url" value="https://api.syncfy.com/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Paybook.ApiKey" value="c06a65bfe73ec01d744fd36d70928dd5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Paybook.Webhook" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!--SAT WS-->
     <add key="SATws.Url" value="https://api.sandbox.sat.ws" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="SATws.ApiKey" value="2402dd273c7f5402f02b231d7883d540" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="satws.Webhook" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!--Social Networks Apikey-->
     <add key="Google.ClientId" value="879827116478-m59eg6itdnoepetdg4qls2f8pliqss8h.apps.googleusercontent.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Facebook.ClientId" value="2444149519209146" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!--AWS-->
     <add key="AWSBucketName" value="ensitech-activgob-demo" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="AWSProfileName" value="ensitech-activgob" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="AWSAccessKey" value="AKIA2ALM7AEWV36AEIHZ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="AWSSecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="AWSS3Uri" value="https://{0}.s3.amazonaws.com/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- LOGS -->
     <add key="logHub.Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="logHub.Url" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="logHub.UrlAPI" value="https://el20mx-plataformav2-loghub-test.azurewebsites.net/api/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="logHub.ApiKey" value="19956ab9-07e7-45cf-8317-659028f5514a" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- NOTIFICATIONS -->
     <add key="SendGridUser" value="azure_2d9a14070fe57747c10b949ec1d70236@azure.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="SendGridPassword" value="^^qdbH3-WB88j3k3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="NotificationHubUrl" value="https://el20mx-plataformav2-nothub-test.azurewebsites.net/api/v1/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="NotificationHubApiKey" value="fef2388b-f75b-42b7-8f16-a727f9517b84" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="_UrlServerAccess" value="https://el20mx-plataformav2-test.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- PAYMENTS: OPENPAY -->
     <add key="Payments.DefaultAppKey" value="96700712-ba90-4c68-8a9a-0f51b158f745" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.IsProductionEnvironment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.UseSelective3DSecure" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.DashboardURL" value="https://sandbox-dashboard.openpay.mx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.OpenpayWebhookKey" value="8bde9192-f974-49fc-806b-2fbc9d59f946" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.OpenpayAgreement" value="0000001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.TransferExpirationDays" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Payments.SecureVerificationURL" value="http://localhost:60319/Payments/SecureVerification" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="DaysToExpirateDate" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="DaysBeforeExpireToNotify" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Avatar.Account" value="https://strel20mxpv2test.blob.core.windows.net/images-dev/images/logo_el20mx.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Avatar.User" value="https://strel20mxpv2test.blob.core.windows.net/images-dev/images/default_avatar.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <!-- CRM: INTEGRACION PIPEDRIVE -->
     <add key="Pipedrive.Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Pipedrive.BaseURL" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Pipedrive.ApiKey" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
     <add key="Invoices.ItemsPerPage" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
   </appSettings>

  <connectionStrings>
      <add name="DBConnectionString"
        connectionString="server=tcp:dbsrv-el20mx-plataformav2-test.database.windows.net;database=db-el20mx-plataformav2-test;user id=el20mx-admin;password=^^qdbH3-WB88j3k3;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
