<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="AdminKey" value="ADMIN" />
    <add key="AppName" value="El20mx - Plataforma V2" />
    
    <!--Proveedores SAT=SATWS||SYNCFY Bancos=SYNCFY||FINERIO-->
    <add key="SATProvider" value="SATWS"/>
    <add key="BankProvider" value="SYNCFY"/>
    <!-- ENCRIPTION -->
    <add key="ENCRYPTION_SALT" value="87c87528-e764-41fc-9ba7-9701dcd9bd75" />

    <!-- STORAGE: Azure -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=strel20mxpv2test;AccountKey=3rwLXK31IAtox3sBUs03qu4wEe4aGDQi2w+/YxDo7mlfCFnxwnrEANKoXDiJNXlbq4lXSwaFMxEJS5QDeRlDHA==;EndpointSuffix=core.windows.net" />
    <add key="StorageSASToken" value="" />
    <add key="StorageMainContainer" value="strel20mxpv2test" />
    <add key="StorageInvoicesIssued" value="invoices-issued-test" />
    <add key="StorageInvoicesReceived" value="invoices-received-test" />
    <add key="StorageQuotation" value="quotations-test" />
    
    <!--PAYBOOK-->
    <!-- Son las credenciales de la cuenta de Simon Test, para sandbox y producción -->
    <add key="Paybook.Url" value="https://sync.paybook.com/v1" />
    <add key="Paybook.ApiKey" value="f613c9165c7f889c4959f058e3c91126" />                      
    <!--<add key="Paybook.Url" value="https://api.syncfy.com/v1/" /> 
    --><!--dudas porque no puedo validarlo en postman la url--><!--
    <add key="Paybook.ApiKey" value="c06a65bfe73ec01d744fd36d70928dd5" />-->
    <add key="Paybook.Webhook" value="" />    
    
	
    <!--SAT WS-->
    <!--<add key="SATws.Url" value="https://api.sat.ws"/>
    <add key="SATws.ApiKey" value="4c01187ec6a5cc671037501a17b27361"/>-->
    <!--<add key="satws.url" value="https://api.sandbox.sat.ws" />    
    <add key="satws.apikey" value="2402dd273c7f5402f02b231d7883d540" />-->
    <add key="satws.Webhook" value="" />

    <!-- STORAGE: Amazon -->
    <add key="AWSBucketName" value="ensitech-activgob-demo" />
    <add key="AWSProfileName" value="ensitech-activgob" />
    <add key="AWSAccessKey" value="AKIA2ALM7AEWV36AEIHZ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSS3Uri" value="https://{0}.s3.amazonaws.com/{1}" />

    <!-- LOGS -->
    <add key="logHub.Enabled" value="false" />
    <add key="logHub.Url" value="" />
    <add key="logHub.UrlAPI" value="https://el20mx-plataformav2-loghub-test.azurewebsites.net/api/v1" />
    <add key="logHub.ApiKey" value="19956ab9-07e7-45cf-8317-659028f5514a" />    
    
    <!-- NOTIFICATIONS -->
    <add key="SendGridUser" value="azure_2d9a14070fe57747c10b949ec1d70236@azure.com" />
    <add key="SendGridPassword" value="^^qdbH3-WB88j3k3" />
    <add key="NotificationHubUrl" value="https://el20mx-plataformav2-nothub-test.azurewebsites.net/api/v1/" />
    <add key="NotificationHubApiKey" value="fef2388b-f75b-42b7-8f16-a727f9517b84" />
    <add key="_UrlServerAccess" value="https://el20mx-plataformav2-dev.azurewebsites.net/" />
        
    <!-- PAYMENTS: OPENPAY -->
    <add key="Payments.DefaultAppKey" value="96700712-ba90-4c68-8a9a-0f51b158f745" />
    <add key="Payments.IsProductionEnvironment" value="false" />
    <add key="Payments.UseSelective3DSecure" value="false" />
    <!--<add key="Payments.PublicKey" value="pk_5d7892633e144d67a844853ce0e342f9" />
    <add key="Payments.OpenpayKey" value="sk_3d9e93155b6f470ab1805ce800289b1c" />
    <add key="Payments.OpenpayGeneralClientId" value="avfwrv0q9x2binx9odgf" />
    <add key="Payments.MerchantId" value="mxcdqesyvproizgrfuhg" />-->
    <add key="Payments.DashboardURL" value="https://sandbox-dashboard.openpay.mx" />
    <add key="Payments.OpenpayWebhookKey" value="8bde9192-f974-49fc-806b-2fbc9d59f946" />

    <add key="Payments.OpenpayAgreement" value="0000001" />
    <add key="Payments.TransferExpirationDays" value="2" />
    <add key="Payments.SecureVerificationURL" value="http://localhost:60319/Payments/SecureVerification" />

    <add key="DaysToExpirateDate" value="30" />
    <add key="DaysBeforeExpireToNotify" value="3" />

  </appSettings>

  <connectionStrings>
    <add name="DBConnectionString" connectionString="server=tcp:dbsrv-el20mx-plataformav2-test.database.windows.net;database=db-el20mx-plataformav2-dev;user id=el20mx-admin;password=^^qdbH3-WB88j3k3;" providerName="System.Data.EntityClient" />
    <!--<add name="DBConnectionString" connectionString="server=localhost;database=db-el20mx;user id=sa;password=ensitech" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>

  <system.web>
    <globalization culture="es-MX" />
     <!--<globalization culture="es-MX" enableClientBasedCulture="true" uiCulture="es-MX" />-->
    <sessionState mode="InProc" timeout="60" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Auth/Login" name=".MVCASPXAUTH" />
    </authentication>
    <httpModules>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />-->
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5.0" newVersion="5.11.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>     
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <!--<remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  <!--<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
