<?xml version="1.0" encoding="utf-8"?>

<!-- Para obtener más información sobre cómo usar la transformación de web.config, visite https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    En el ejemplo siguiente, la transformación de "SetAttributes" cambiará el valor de
    "connectionString" para usar "ReleaseSQLServer" solo cuando el localizador "Match"
    encuentre un atributo "name" con el valor "MyDB".
    -->
   <!--<appSettings>
     <add key="AppName" value="El20mx - Plataforma V2 (Release)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="_UrlServerAccess" value="https://el20mx-plataformav2-test.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="StorageInvoicesIssued" value="invoices-issued-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="StorageInvoicesReceived" value="invoices-received-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="StorageQuotation" value="quotations-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
     <add key="StorageEFirma" value="e-firma-test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
   </appSettings>-->

  <!--<connectionStrings>
      <add name="DBConnectionString"
        connectionString="server=tcp:dbsrv-el20mx-plataformav2-test.database.windows.net;database=db-el20mx-plataformav2-test;user id=el20mx-admin;password=^^qdbH3-WB88j3k3;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>-->
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
