@{
    ViewBag.Title = ViewLabels.HOME_TITLE;
}
<div class="row">
    <div class="col-12">
        <img src="~/Images/logos/El20mx-logo-estes-donde-e.png" class="img-fluid img-max" alt="Responsive image"/>
    </div>

</div>