
@{
    ViewBag.Title = "VerifyUser";
    Layout = "/Views/Shared/_SimpleLayout.cshtml";
}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <img src="~/Images/logos/El20mx-logo-estes-donde-e.png" width="300" />
        </div>
            
        <br />
        <div class="col-lg-12">
            <p><a class="btn btn-color" href="@Url.Action("Login", "Auth")">Iniciar Sesi&oacute;n</a></p>
        </div>
    </div>
</div>


