
@{
    ViewBag.Title = "_CreateAccountModal";
}
<div class="modal-header">
    <div class="modal-title">
        <h3>Configuración de cuenta</h3>
    </div>

    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div id="wizard" class="wizard-big">
            <!--RFC-->
            <h1>RFC</h1>
            <div class="col-md-12">
                <form id="RegisterRFCForm">
                    <p>Ingrese su RFC, haremos una consulta directa al SAT para validarlo.</p>
                    <input type="hidden" value="false" name="validacionSat" id="validacionSat"/>
                    <div class="form-group">
                        <label>RCF</label>
                        <input id="rfc" name="rfc" type="text" class="form-control required" aria-required="true">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-append viewpass">
                                <span class="input-group-text" title="Mantener presionado para ver la contraseña">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                            <input id="password" name="password" type="password" class="form-control required viewpass-input" data-view="false" aria-required="true">
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button id="btn-sat" type="button" class="btn btn-color">Validar RFC</button>
                    </div>
                </form>
            </div>
            <!--Fin RFC-->
            <!--Cuentas Bancarias-->
            <h1>Cuentas bancarias</h1>
            <div>
                Contenido
            </div>
            <!--Fin Cuentas Bancarias-->
        </div>
    </div>
</div>